body {
    width: 800px;
    margin: 10px auto;
    word-wrap: break-word;
}

#container {
    margin: 10px 0 0 0;
    font: 8pt 'Menlo';
}

.hostOnly,
.httpOnly,
.secure,
.session
{
    text-align: center;
}

table,
th,
td
{
    border: 1px solid silver;
}
table
{
    border-collapse: collapse;
}
