#input-box
{
    padding-top: 6px;
    padding-bottom: 8px;
    margin-bottom: 12px;
}
input[type=text],
textarea,
td
{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
}
.table td,
.table thead th
{
    vertical-align: middle;
}

.table thead th,
.table td.delete,
.table td.hostOnly,
.table td.httpOnly,
.table td.session,
.table td.secure,
.table td.storeId
{
    text-align: center;
}
input[type=text].input-value
{
    width: 80%;
    box-sizing: border-box;
    height: 28px;
}

.table .input-append
{
    margin-bottom: 0;
}

tr.odd
{
    background-color: #FFF4EC;
}
textarea.span12
{
    width: 100% !important;
}
