body
{
    margin: 10px 20px;
}

#container
{
    margin: 10px 0 0 0;
    font: 8pt 'consolas', 'Menlo';
}

.hostOnly,
.httpOnly,
.secure,
.session
{
    text-align: center;
}

table,
th,
td
{
    border: 1px solid silver;
}

table
{
    border-collapse: collapse;
}
td,
th
{
    padding: 4px;
}
.hostOnly,
.httpOnly,
.secure,
.session,
.storeId
{
    width: 5.5em;
    text-align: center;
}
tr.odd
{
    background-color: azure;
}
